/* GeneratePress specific */

.sf-menu .menu-item-has-children > a:first-child,
.sf-menu .page_item_has_children > a:first-child {
	padding-right: 2.5em;
	*padding-right: 1em;
}
.sf-menu .menu-item-has-children > a:first-child:after,
.sf-menu .page_item_has_children > a:first-child:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: inherit;
	margin-top: -5px;
	border-color: transparent;
	border-left-color: inherit; 
}
.sf-menu > .menu-item-has-children > a:first-child:after,
.sf-menu > .page_item_has_children > a:first-child:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: inherit;
}

.both-left .widget-area .sf-menu li .sf-with-ul:after,
.left-sidebar .widget-area .sf-menu li .sf-with-ul:after,
.both-sidebars .widget-area .inside-left-sidebar .sf-menu li .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: inherit; /* edit this to suit design (no rgba in IE8) */
  opacity: 1;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

/*
     FILE ARCHIVED ON 11:49:29 Aug 11, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:21:11 Apr 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 223.838
  exclusion.robots: 123.443
  exclusion.robots.policy: 123.426
  xauthn.identify: 76.556
  xauthn.chkprivs: 46.44
  RedisCDXSource: 2.602
  esindex: 0.018
  LoadShardBlock: 68.794 (3)
  PetaboxLoader3.datanode: 65.361 (4)
  CDXLines.iter: 24.664 (3)
  load_resource: 36.754
  PetaboxLoader3.resolve: 23.997
*/